<div class="card__container">
  <h1 class="card__title-main">GALERIA</h1>
  <div class="card" *ngFor=" let pokemon  of pokemonData">
    <a routerLink="empresa">
      <img class="card__image" src="{{getPokemonImage(+pokemon.url.split('/')[6])}}" alt="Card Image">
      <h3 class="card__title">{{ pokemon.name}}</h3>
      <p class="card__about">Conheça nossa plataforma de automação de negócios digitais. Descubra como podemos agregar
        tecnologia e
        inteligência artificial à sua empresa!</p>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
