<div class="galeria__container">
  <div class="card">
    <a >
    <img class="card__image" src="../../../../assets/imagem_card1.jpg" alt="Card Image">
    <h3 class="card__title">JPV TECH</h3>
    <p class="card__about">Conheça nossa plataforma de automação de negócios digitais. Descubra como podemos agregar
      tecnologia e
      inteligência artificial à sua empresa!</p>
    </a>
  </div>
  <div class="card">
    <a >
    <img class="card__image" src="../../../../assets/tec3.jpg" alt="Card Image">
    <h3 class="card__title">JPV TECH</h3>
    <p class="card__about">Conheça nossa plataforma de automação de negócios digitais. Descubra como podemos agregar
      tecnologia e
      inteligência artificial à sua empresa!</p>
    </a>
  </div>
  <div class="card">
    <a >
    <img class="card__image" src="../../../../assets/tec4.jpg" alt="Card Image">
    <h3 class="card__title">JPV TECH</h3>
    <p class="card__about">Conheça nossa plataforma de automação de negócios digitais. Descubra como podemos agregar
      tecnologia e
      inteligência artificial à sua empresa!</p>
    </a>
  </div>
  <div class="card">
    <a >
    <img class="card__image" src="../../../../assets/tec5.jpg" alt="Card Image">
    <h3 class="card__title">JPV TECH</h3>
    <p class="card__about">Conheça nossa plataforma de automação de negócios digitais. Descubra como podemos agregar
      tecnologia e
      inteligência artificial à sua empresa!</p>
    </a>
  </div>

</div>
