.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  padding-top: 6.5rem;
  min-height: 80vh;

}

.card {
  width: 300px;
  margin: 10px 30px 0px 0px;
  box-shadow: 2px 2px 10px #ccc;
}
.card :hover {
  cursor: pointer;
}
.card__title :hover {
  background-color: blue;
}

.card__about {
  color: #757575;
}

.card img {
  width: 100%;
  max-height: 250px;
}

.card__image:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.card h3 {
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0;
}

.card p {
  padding: 10px;
}

.card__title {
  text-decoration: none;
}
