<!-- Mobile -->
<nav>
  <div class="menubar__container">
    <div class="menubar__logo">
      <a routerLink="/">
        <img class="menubar__logo__image" src="../../../assets/jpv_logo.png" alt="">
      </a>
    </div>
    <div class="menubar__itens">
      <ul>
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="empresa">GALERIA TECH</a></li>
        <li><a routerLink="filmes">GALERIA DE FILMES</a></li>
      </ul>
    </div>
    <div class="menubar__container__mobile">
      <mat-icon (click)="toggleNavbar()" aria-hidden="false" aria-label="Example home icon" fontIcon="reorder">
      </mat-icon>
      <div class="menubar__itens__mobile" *ngIf="navbarOpen">
        <ul>
          <li><a href="" class="menu__itens__link">Home</a></li>
          <li><a href="" class="menu__itens__link">About</a></li>
          <li><a href="" class="menu__itens__link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
