 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #FAFAFA;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
